<div class="row">
    <div class="col">
        <h6>Name</h6>
    </div>
    <div class="col">
        <p>Viju V</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h6>LinkedIn URL</h6>
    </div>
    <div class="col">
        <p>http://linkedIn/viju</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h6>Technologies</h6>
    </div>
    <div class="col">
        <p>Spring boot, Angular, Spring Core</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h6>Phone</h6>
    </div>
    <div class="col">
        <p>9876567656</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h6>Fee</h6>
    </div>
    <div class="col">
        <p>5000</p>
    </div>
</div>