<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <form class="form-inline my-2 my-lg-0" *ngIf="role != 'Mentor'" [formGroup]="mentorSearchForm" (ngSubmit)="search()">
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="technology" [(ngModel)]="technology"> -->
        <mat-form-field>
           
            <mat-select [formControl]="technology" placeholder="Technology">
              <mat-option *ngFor="let tech of technologies" [value]="tech.name">
                {{tech.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        
      <input type="time" [formControl] = "from" placeholder="from"/>
   
      <input type="time" atp-time-picker [formControl] = "to" placeholder="to" />
     
        <button  class="btn btn-success" type="submit" >FIND</button>
      </form>
      &nbsp;&nbsp;
    <!-- <a class="navbar-brand" routerLink="home">Home</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" routerLink="/students">Students <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li> -->
       
          <li class="nav-item">
          <h4 style="margin-left:200px;text-align:center;color:white;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Mentor On Demand</h4>
          </li>
       
       </ul>
      <li class="nav-item" *ngIf="!isLogin">
       <button type="button" class="btn btn-light"  ><a routerLink="/home">Home</a></button>
    </li>
      <li class="nav-item" *ngIf="!isLogin">
       <button type="button" class="btn btn-light"><a routerLink="/login">Login</a></button>
    </li>
      <li class="nav-item" *ngIf="isLogin">
         <button type="button" class="btn btn-light"> <a routerLink="/dashboard/notification">Notifications</a></button>
      </li>
      <li class="nav-item" *ngIf="isLogin">
        <button class="btn btn-primary" (click)="logout()">Logout</button>
      </li>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isLogin">
       
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="isLogin">
      <ul class="navbar-nav mr-auto" *ngIf="role != 'Admin'">
          <li class="nav-item"  [routerLinkActive]="['active']">
              <a class="nav-link"  routerLink="/dashboard">{{role}}&nbsp;Dashboard <span class="sr-only">(current)</span></a>
            </li>
        <li class="nav-item"  [routerLinkActive]="['active']"  *ngIf="role == 'User'">
          <a class="nav-link" routerLink="/dashboard/mentors/0/00.00/00.00">Search Trainings </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link"  routerLink="/dashboard/current">Current Trainings</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/dashboard/completed">Completed Trainings</a>
          </li>
        <li class="nav-item" [routerLinkActive]="['active']" *ngIf="role == 'Mentor'">
            <a class="nav-link" routerLink="/dashboard/edit">Edit Skills</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" *ngIf="role == 'Mentor'">
          <a class="nav-link" routerLink="/dashboard/pay" >Payments</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" *ngIf="role == 'Mentor'">
        <a class="nav-link" routerLink="/dashboard/transaction" >Transaction History</a>
    </li>
       
      </ul>
      <ul class="navbar-nav mr-auto" *ngIf="role == 'Admin'">
        <li class="nav-item active" [routerLinkActive]="['active']">
            <a class="nav-link"  routerLink="/dashboard">Admin Dashboard <span class="sr-only">(current)</span></a>
          </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link"  routerLink="/dashboard/users">User Managament</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/dashboard/technologies">Technologies and Fee</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/dashboard/pay" >Payments</a>
    </li>
     
     
    </ul>
     
    </div>
  </nav>