<div class="home">
    <div class="main-content" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>
                            <div class="content">
                                <form [formGroup]="Skills" (ngSubmit)="submit()" >    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control" disabled placeholder="Name" [value]="currentUser.firstName+' '+currentUser.lastName">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" class="form-control" disabled placeholder="Username" [value]="currentUser.userName">
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" disabled placeholder="First Name" [value]="currentUser.firstName">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" disabled placeholder="Last Name" [value]="currentUser.lastName">
                                            </div>
                                        </div>
                                    </div>
        
                                   
        
                                  
        
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="exampleInputTechnology">Technologies</label>
                                                <mat-form-field>
                                                  
                                                  <mat-select formControlName="name" multiple>
                                                    <mat-option *ngFor="let tech of technologyList" [value]="tech.name">{{tech.name}}</mat-option>
                                                  </mat-select>
                                                  <mat-error *ngIf="(submitted || f.name.touched) && f.name.errors">
                                                      Technologies field is <strong>required</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                               
                                              </div>
                                              <div class="form-group">
                                                <label for="toc">TOC</label>
                                                <input type="text" formControlName="toc" class="form-control" id="toc" aria-describedby="TOC" placeholder="TOC" 
                                                [ngClass] = "{ 'is-invalid' : (submitted || f.toc.touched) && f.toc.errors}">
                                                <div *ngIf="(submitted || f.toc.touched) && f.toc.errors " class="invalid-feedback">
                                                  <div *ngIf="(submitted || f.toc.touched) && f.toc.errors.required">Last Name is required</div>
                                                </div>
                                            </div>
                                              <div class="form-group">
                                                <label for="exampleInputFacilities">Facilities</label>
                                                <mat-form-field>
                                                 
                                                  <mat-select formControlName="prerequisites" multiple>
                                                    <mat-option *ngFor="let fac of facilitiesList" [value]="fac.name">{{fac.name}}</mat-option>
                                                  </mat-select>
                                                 
                                                    <mat-error *ngIf="(submitted || f.prerequisites.touched) && f.prerequisites.errors">
                                                      Facilities field is <strong>required</strong>
                                                    </mat-error>
                                                </mat-form-field>
                                               
                                              </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img width="350" height="270" src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                            </div>
                            <div class="content" align="center">
                                <div class="author">
                                    <a href="#">
                                        <img class="avatar border-gray" src="../../assets/images/face-6.jpg" alt="Profile"/>
        
                                        <h4 class="title">Viju<br />
                                            <small>V</small>
                                        </h4>
                                    </a>
                                </div>
                                <p class="description text-center"> "Lamborghini Mercy <br>
                                    Your chick she so thirsty <br>
                                    I'm in that two seat Lambo"
                                </p>
                            </div>
                            <!-- <hr>
                            <div class="text-center">
                                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
</div>





