<!-- <app-navbar></app-navbar> -->
<h2 style="margin:30px;">{{title}}</h2>
<form [formGroup]="userForm" (ngSubmit)="submit()">
  <a href="home">Home</a>&nbsp;&nbsp;&nbsp;
  <a href="mentor">Register as mentor</a>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" id="firstName" aria-describedby="firstName" placeholder="Enter First Name"
        [ngClass]="{ 'is-invalid':(submitted || f.firstName.touched)&& f.firstName.errors }">
        <div *ngIf="(submitted || f.firstName.touched) && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="(submitted || f.firstName.touched) && f.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" id="lastName" aria-describedby="lastName" placeholder="Enter Last Name" 
            [ngClass] = "{ 'is-invalid' : (submitted || f.lastName.touched) && f.lastName.errors}">
            <div *ngIf="(submitted || f.lastName.touched) && f.lastName.errors " class="invalid-feedback">
              <div *ngIf="(submitted || f.lastName.touched) && f.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPhone">Phone</label>
          <input type="tel" class="form-control" formControlName="phone" id="exampleInputPhone" placeholder="Phone" 
          [ngClass] = "{ 'is-invalid' : (submitted || f.phone.touched) && f.phone.errors}" minlength="10" maxlength="10">
          <div *ngIf="(submitted || f.phone.touched) && f.phone.errors" class="invalid-feedback">
            <div *ngIf="(submitted || f.phone.touched) && f.phone.errors.required">Phone is required</div>
            <div *ngIf="(submitted || f.phone.touched) && (f.phone.errors.minlength || f.phone.errors.maxlength)">Invalid Phone number!</div>
          </div>
        </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" formControlName="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
      [ngClass] = "{ 'is-invalid' : (submitted || f.username.touched) && f.username.errors}">
      <div *ngIf="(submitted || f.username.touched) && f.username.errors" class="invalid-feedback">
        <div *ngIf="(submitted || f.username.touched) && f.username.errors.required">User Name is required</div>
        <div *ngIf="(submitted || f.username.touched) && f.username.errors.email">Email Format is incorrect</div>
      </div>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password" 
      [ngClass] = "{ 'is-invalid' : (submitted || f.password.touched) && f.password.errors}">
      <div *ngIf="(submitted || f.password.touched) && f.password.errors" class="invalid-feedback">
        <div *ngIf="(submitted || f.password.touched) && f.password.errors.required">Password is required</div>
      </div>
    </div>
    <!-- <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>&nbsp;&nbsp;
    <a routerLink="/login">Cancel</a><hr>
   

  </form>


  